body{
    background-color:#F9F9FA;

    /* Первый блок */
}
.block__title {
    margin-top: 80px;
    margin-bottom: 80px;
}

.conteiner {
    max-width: 845px;
    margin: 0 auto;
}

h1 {
    font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 46px;
        text-align: center;
        /* font-style: normal; */
        color:#110C11;
        width: 100%;
        margin: 0 auto;
      }
.subtitle {
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 22px;
}


.subtitle {
    font-size: 12px;
text-transform: uppercase;
background: linear-gradient(45deg, #4343FF 33%, #F96D6D 66%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: #0B2349;
display: table;
margin: 20px auto;
}


.blocs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
}
.blocs__content {
    padding: 22px;
    max-width: 27%;
    margin: 17px auto;
    background-color: rgb(255, 255, 255);
}

.blocs__tittle {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-style: 17px;
    color:#110C11;
    font-weight: 700;
}

.blocs__desc {
    font-family: "Open Sans", sans-serif;
    color:#5C5C5C;
    font-style: 17px;
    line-height: 26px;
    font-weight: 400;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 30px;
    }

    .block__title  {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .blocs {
        margin: 0px 30px;
    }
    .blocs__content {
        max-width: 100%;
    }
}

/* __________________________________________________ */

